#--------------------------------------------------------------------
# Environment Configuration Template
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

app.baseURL = 'http://localhost/Summative1/public/'

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = summative1
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.port = 3306
